{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
            initial-scale="1.0"
        />
        <link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
        <title>{% block title %} DSA Quest {% endblock title %}</title>
    </head>

    <body
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="flex min-h-screen"
    >
        {% block content %}
        {% endblock content %}
        <script src="https://cdn.tailwindcss.com"></script>
        <script src='{% static "app/js/htmx.min.js" %}'></script>
    </body>
</html>
