{% include "base/base.html" %} {% block content %}

<main class="flex-grow container mx-auto px-4 py-8">
    <!-- Heading Section -->
    <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800 font-times">
            Start Your DSA Journey
        </h1>
        <p class="mt-2 text-gray-600">
            Select your preferred DSA topics and begin your learning adventure.
        </p>
    </div>

    <!-- Form Section -->
    <form
        method="post"
        class="bg-white shadow-md rounded px-8 py-6 mx-60 md:mx-30"
    >
        <!-- Topics Section -->
        <div class="grid grid-cols-2 gap-4 mb-6">
            <button
                class="border border-green-500 hover:bg-green-500 hover:text-white p-3 text-center rounded"
            >
                Arrays
            </button>
            <button
                class="border border-green-500 hover:bg-green-500 hover:text-white p-3 text-center rounded"
            >
                Linked Lists
            </button>
            <button
                class="border border-green-500 hover:bg-green-500 hover:text-white p-3 text-center rounded"
            >
                Trees
            </button>
            <button
                class="border border-green-500 hover:bg-green-500 hover:text-white p-3 text-center rounded"
            >
                Graphs
            </button>
            <button hx-get="/" hx-target="body">Back to home page</button>
        </div>

        <!-- Submit Button -->
    </form>
</main>

{% endblock content %}
